<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yayang.setiyawan.toko">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TOKO"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DetailTransaksiActivity" />
        <activity android:name=".activity.RiwayatActivity" />
        <activity android:name=".activity.SuccesActivity" />
        <activity android:name=".activity.TambahAlamatActivity" />
        <activity android:name=".activity.ListAlamatActivity" />
        <activity android:name=".activity.PengirimanActivity" />
        <activity android:name=".activity.PembayaranActivity" />
        <activity android:name=".activity.DetailProdukActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".activity.RegisterActivity" />
    </application>

</manifest>